.contenedor-publicaciones{
    width: 80%;
    margin: 20px auto;
    background: linear-gradient(45deg,#9736fe, #c73bee, #fe9ff4);
    padding: 30px 20px;
    box-shadow: 0 0 6px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    gap:20px;
    
}
.publicacion{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 6px black;;
}